body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
img {
  width: 148px;
  height: 148 px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}
.paragraph {
  margin: 0 auto;
  width: 633px;
  height: 444px;
}
.testimonial {
  width: 796px;
  margin: 0 auto;
  height: 330px;
  padding: 20px;
}
.words {
  background-color: lightgray;
}
.right`{
    text-align: right;
}

/* media queries */

@media only screen and (max-width: 768px) {
  .paragraph {
    border: 1px solid blue;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .paragraph {
    border: 1px solid red;
  }
}
